body {
    margin: 0;
    padding: 0;
}

.main_globaldiv {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #171717;
}

#main_header {
    height:55px;
}

.main_header_logo {
    margin:0;
    padding-top:8px;
    padding-left:10px;
}

#main_contentarea_image {
    background-color: black;
    height: auto;
}

.main_contentarea_image_image {
    width:100%;
    min-height:300px;
    min-width:750px;
    margin-bottom:-5px;
    padding:0;
}

#main_contentarea_about {
    height: 600px;
    background-color: ghostwhite;
    box-shadow:inset 0 0 10px 1px #000000;
}

#main_contentarea_portfolio {
    height: 600px;
}

#main_contentarea_contact {
    height:400px;
    background-color: ghostwhite;
    box-shadow:inset 0 0 10px 1px #000000;
}

#main_footer {
    height:50px;
}


.main_text_h1 {
    font-family: GeoSansLight, sans-serif;
    font-size:2.9em;
    color: #4C4C4C;
    text-align:center;
    padding-top: 20px;
    margin:0;
}

#main_text_h1_light {color:#cccccc;}

.main_text_p {
    margin: 15px auto;
    padding-top:20px;
    font-family: GeoSansLight, sans-serif;
    font-size: 1.7em;
    color: #4C4C4C;
    text-align: center;
    width: 750px;
}

#main_text_p_light {color:#cccccc;}

#main_text_p_footer {color:#cccccc; margin:0; padding:0; text-align:left; padding:14px; font-size:1.2em;}

.main_span_line {
    display: inline-block;
    width: 2em;
    height: .32em;
    border-top: 1px solid #808080;
    margin: 0px .2em 0;
}