.body {
    background-color: whitesmoke;
}

.defaultbox {
    background-color: #191919;
    box-shadow: 3px 3px 3px dimgrey;
}

#box_header {
    width: 74.5%;
    height: 75px;
    margin-right: 0.5%;
    float: left;
}

#box_header_text {
    font-family: GeosansLight, sans-serif;
    font-size: 4em;
    color: white;
    text-shadow: 2px 2px 1px black;
    margin-left: 10px;
    margin-top: 0px;
}

#box_weather {
    height: 465px;
    width: 25%;
    float: right;
}

#widget_weather{
    height: 450px;
    width: 460px;
    margin-top: 7.5px;
    margin-left: 7.5px;
    box-shadow: 1px 1px 1px black;
}

#box_traffic {
    height: 465px;
    width: 25%;
    float: right;
    clear:both;
    margin-top: 10px;
}

#box_slideshow {
    width: 74.5%;
    height: 770px;
    margin-top: -380px;
    margin-bottom: 0.5%;
    margin-right: 0.5%;
    float: left;
}

#widget_slideshow_image {
    height: 755px;
    width: 98.9%;
    margin-left: 0.5%;
    margin-top: 0.5%;
    box-shadow: 1px 1px 1px black;
}

#box_footer {
    width: 74.5%;
    height: 75px;
    margin-right: 0.5%;
    float: left;
}