/* {
   border: 1px dotted blue;
}
*/
#header {
    background-color: #191919;
    border: 1px solid white;
    width: 110%;
    height: 50px;
    clear: both;
    margin-top: -10px;
    margin-left: -9px;
}

#sidebar {
    background-color: #F9F9F9;
    border: 1px solid white;
    width: 120px;
    height: 1000px;
    float: left;
    padding-top: 30px;
}

#content {
    background-color: #F9F9F9;
    border: 1px solid white;
    width: 85%;
    height: 1000px;
    padding-top: 30px;
    float: left;
    margin-left: 10px;
}

#footer {
    background-color: #191919;
    border: 1px solid white;
    width: 110%;
    height: 50px;
    clear: both;
    margin-top: -10px;
    margin-left: -9px;
}

#header_header {
    color:white;
    font-family: GeosansLight, sans-serif;
    font-size: 2.5em;
    margin-left: 10px;
    margin-top: 10px;
    text-decoration: none;
}

#content_header {
    color:black;
    font-family: GeosansLight, sans-serif;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 3em;
    font-weight: bold;
    text-shadow: 3px 3px 5px darkgrey;
}

#content_text {
    color:black;
    font-family: GeosansLight, sans-serif;
    margin-left: 25px;
    font-size: 1.5em;
    text-shadow: 2px 2px 5px darkgrey;
}

.sidebar_img_top {
    margin-top: -25px;
}

#sidebar_img {
    width: 100px;
    height: 50px;
    margin-left: 10px;
    box-shadow: 3px 3px 5px darkgrey;
}

#content_img_trollface {
    width: 500px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 5px darkgrey;
}

#footer_text {
    color:white;
    font-family: GeosansLight, sans-serif;
    margin-left: 10px;
    margin-top: 17px;
    font-size: 1em;
}

#content_img_homepage {
    display: block;
    margin-left: 15px;
    width: 700px;
}